nav {
    padding: 10px;
}

li {
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
}

.nav {
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 100px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;;

}

.login-button {
    background-color:aliceblue;
    color: #923F98;
    padding: 8px 16px;
    border: 1px solid #923F98;
    border-radius: 5px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.icon-home {
    display: none;
}

@media (max-width: 576px) {
    .logo img {
        display: none;
    }

    .menu li:not(:first-child) {
        display: none;

    }

.menu li:first-child{
display: flex;
justify-content: flex-end;
align-items: center;
padding: 1rem;

}
    .login-button {
        display: none;
    }

    .icon-home {
        display: block;
        font-size: 20px;
        color: antiquewhite;
        padding-left: 1rem;

    }
    svg {
        top: 0px;
    }
    .menu li a{
        color: antiquewhite;
    }
}

.wave-header {
    /* height: 175px; */
    width: 100%;
    position: relative;
    z-index: 2;
}

svg {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -40px;
}

@media (max-width: 1100px) {
    svg {
        top: -20px;
    }
}

/* @media (max-width: 1000px) {
    svg {
        top: -20px;
    }
     nav {
        padding: 3px;
    }
} */

@media (max-width: 1000px) {
    svg {
        top: 0px;
    }

    nav {
        padding: 10px;
    }
    .menu li a{
    font-size: 12px;
}
li{
    padding: 5px;
}

    .login-button {
        padding: 5px 10px;
    }
}


@media (max-width: 800px) {
    svg {
        top: 0px;

    }
nav{
    padding: 2px;
}

.menu li a{
    font-size: 12px;
}
li{
    padding: 5px;
}

    .login-button {
        padding: 5px 10x;
        font-size: 12px;
    }

}