/* nav {
    padding: 10px;
} */

li {
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
}

.nav {
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    width: 150px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.login-button {
    background-color: aliceblue;
    color: #923F98;
    padding: 8px 16px;
    border: 1px solid #923F98;
    border-radius: 5px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.icon-home {
    display: none;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

.profile i:last-child {
    font-size: 1.7rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

@media (max-width: 576px) {
    .profile {
        font-size: 10px;
    }

    .logo img {
        display: none;
    }

    .menu li:not(:first-child) {
        display: none;

    }

    .menu li:first-child {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* padding: 0.5rem;
         */
         margin-right: -2rem;

    }

    .login-button {
        display: none;
    }

    .icon-home {
        display: block;
        font-size: 20px;
        color: antiquewhite;
        padding-left: 1rem;

    }

    svg {
        top: 0px;
    }

    .menu li a {
        color: antiquewhite;
    }
    .profile i:last-child {
    font-size: 1.3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    color: aliceblue;
    }
    .profile span,.profile i:first-child{
        display: none;
    }
}

.wave-header {
    /* height: 175px; */
    width: 100%;
    position: relative;
    z-index: 2;
}

svg {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -40px;
}

.menu a {
    cursor: pointer;
}

@media (max-width: 1100px) {
    svg {
        top: -20px;
    }
     .profile span {
    font-size: 14px;
    }
}


@media (max-width: 1000px) {
    svg {
        top: 0px;
    }

    nav {
        padding: 10px;
    }

    .menu li a {
        font-size: 12px;
    }

    li {
        padding: 5px;
    }

    .login-button {
        padding: 5px 10px;
    }
}


@media (max-width: 800px) {
    svg {
        top: 0px;

    }

    nav {
        padding: 4px;
    }

    .menu li a {
        font-size: 11px;
    }

    li {
        padding: 5px;
    }

    .login-button {
        padding: 5px 10x;
        font-size: 12px;
    }
    .logo img {
    width: 110px;
    }
    .profile span {
    font-size: 13px;
    }
    .header{
        align-items: start;
    }
    .menu{
        padding: 2px;
    }
    .profile{
        align-items: start;
    }
    .profile i:last-child{
        font-size: 1.5rem;
    }
}

.profile span {
    cursor: pointer;
}