<!-- <mat-toolbar class="skew-nav">
    <mat-toolbar-row>
        <img src="../../../assets/courses/logo darebni.svg" alt="Logo" class="logo">
        <ul mat-nav-list>
            <li mat-list-item>
                <a routerLink="/home">الرئيسية</a>
            </li>
            <li mat-list-item>
                <a routerLink="/">الاختصاصات</a>
            </li>
            <li mat-list-item>
                <a routerLink="/">من نحن</a>
            </li>
        </ul>
        <span class="spacer"></span>

        <button mat-button routerLink="/login">تسجيل الدخول</button>
    </mat-toolbar-row>
</mat-toolbar> -->
<div class="wave-header">
    <nav class="header">
        <div class="container nav">
            <div class="header">

                <div class="logo">
                    <img src="../../../assets/logo darebni.svg" alt="Logo">
                </div>
                <ul class="menu ">
                    <li><i class='bx bxs-home icon-home'></i><a routerLink="/home">الرئيسية</a></li>
                    <li><a routerLink="/">الاختصاصات</a></li>
                    <li><a routerLink="/">من نحن</a></li>
                </ul>
            </div>
            <button class="login-button" (click)="goToLogin()">تسجيل الدخول</button>
        </div>
    </nav>

    <svg xmlns="http://www.w3.org/2000/svg" transform="scale(-1, 1)" viewBox="0 0 1440 320">
        <path fill="#B989BD" fill-opacity="1"
            d="M0,160L80,160C160,160,320,160,480,144C640,128,800,96,960,106.7C1120,117,1280,171,1360,197.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>

</div>