<div class="about-us">
    <div class="imgDiv">
        <img src="../../../assets/aboutUs.jpg" alt="About Us Image">
    </div>

    <div class="project-details">
        <h1>حول مشروعنا</h1>
        <p>نحن فريق من الخبراء والمبتكرين المتحمسين الذين يعملون على تحويل الأفكار إلى واقع ملموس. ونحن نسعى جاهدين
            لتقديم حلول مبتكرة ومتقدمة لتلبية احتياجات عملائنا. مع خبرتنا الواسعة في مجالنا واستخدام أحدث ما لدينا
            التقنيات، ونحن نهدف إلى تحقيق رؤية
            عالمية والتفوق في كل مشروع نقوم به.
        </p>
    </div>
    <div class="programmers">
        <div class="made d-flex">
            <h1>صنع من قبل</h1>
            <span>:</span>
        </div>

        <ul>
            <li>سلام الشامي</li>
            <li>ليلى زكريا</li>
            <li>نور سليم</li>
        </ul>
    </div>
    <div class="icon-x">
        <i class="bx bx-x" (click)="closePopup()"></i>
    </div>
</div>