<div class="about-us">
    <img src="../../assets/courses/course-image-1.jpeg" alt="About Us Image">
    <div class="project-details">
        <h2>About Our Project</h2>
        <p>We are a team of enthusiastic experts and innovators who work to turn ideas into reality. We strive to
            provide
            innovative and advanced solutions to meet the needs of our clients. With our extensive experience in our
            field and the
            use of the latest technologies, we aim to achieve a global vision and excel in every project we undertake.
        </p>
    </div>
    <div class="programmers">
        <h3>Making all love by:</h3>
        <ul>
            <li>Salam AlShami</li>
            <li>Laila Zakaria</li>
            <li>Nour Saleem</li>
        </ul>
    </div>
    <div class="icon-x">
        <i class="bx bx-x" (click)="closePopup()"></i>
    </div>
</div>