<div class="loader_container" *ngIf="isFetching">
    <div class="loader"></div>
</div>
<div *ngIf="!isFetching" class="isFetching">
    <div class="title">
        <i class='bx bx-chevron-right-square back' routerLink="/login"></i>
        <h1>إنشاء حساب</h1>
    </div>
    <div class="content">
        <div class="box">
            <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                <h1>إنشاء حساب</h1>

                <label for="username">اسم المستخدم</label>
                <div>
                    <mat-form-field appearance="fill" style="border: none;">
                        <mat-icon matPrefix style="border: none;">person</mat-icon>
                        <input matInput type="text" id="username" name="username" formControlName="username"
                            placeholder="اسم المستخدم" style="border: none;">
                        <mat-error
                            *ngIf="formRegister.get('username')?.errors?.['required']&& formRegister.get('username')?.touched">
                            يرجى إدخال الاسم
                        </mat-error>
                    </mat-form-field>
                </div>

                <label for="phonenumber"> رقم الموبايل</label>
                <div>
                    <mat-form-field appearance="fill" style="border: none;">
                        <mat-icon matPrefix style="border: none;">phone</mat-icon>

                        <input matInput type="text" id="phonenumber" name="phonenumber" formControlName="phonenumber"
                            placeholder="رقم الموبايل" style="border: none;">
                        <mat-error
                            *ngIf="formRegister.get('phonenumber')?.errors?.['required']&& formRegister.get('phonenumber')?.touched">
                            يرجى إدخال رقم الموبايل
                        </mat-error>
                        <mat-error *ngIf="formRegister.get('phonenumber')?.errors?.['pattern']">رقم الموبايل غير
                            صالح</mat-error>
                    </mat-form-field>
                </div>


                <!-- <mat-form-field>
                        <mat-radio-group formControlName="specialization">
                            <mat-radio-button value="الهندسة المعلوماتية">الهندسة المعلوماتية</mat-radio-button>
                            <mat-radio-button value="الطب البشري">الطب البشري</mat-radio-button>
                            <mat-radio-button value="الصيدلة">الصيدلة</mat-radio-button>
                            <mat-radio-button value="طب الأسنان">طب الأسنان</mat-radio-button>
                        </mat-radio-group>
                    </mat-form-field> -->

                <div class="specializations">
                    <div *ngFor="let specialization of specializations; index as i">
                        <input type="radio" formControlName="specialization" [value]="specialization.id">
                        {{specialization.specialization_name}}
                    </div>
                    <!-- <div class="row" *ngFor="let specialization of specializations; index as i">
                        <ng-container *ngIf="i % 3 === 0">
                            <div class="col">
                                <input type="radio" formControlName="specialization" [value]="specialization.id">
                                {{specialization.specialization_name}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="i % 3 === 1">
                            <div class="col">
                                <input type="radio" formControlName="specialization" [value]="specialization.id">
                                {{specialization.specialization_name}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="i % 3 === 2">
                            <div class="col">
                                <input type="radio" formControlName="specialization" [value]="specialization.id">
                                {{specialization.specialization_name}}
                            </div>
                        </ng-container>
                    </div> -->
                </div>
                <br>
                <button type="submit" mat-raised-button>
                    إنشاء حساب
                </button>
                <br>
                <div class="question">
                    <span> لديك حساب؟</span>
                    <a routerLink="/login">سجل الدخول</a>
                </div>
            </form>
            <a routerLink="/home">المتايعة كزائر</a>
        </div>
        <div class="imgDiv">
            <img src="../../../../assets/signup.svg" alt="">
        </div>
    </div>
</div>