<div class="title">
    <h1>تسجيل الدخول</h1>
</div>

<div class="content">
    <div class="box">
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <h1>تسجيل الدخول</h1><br>
            <label for="username">اسم المستخدم</label><br>

            <div class="input-container">
                <mat-form-field appearance="fill" class="mat-form-field-custom" style="border: none;">
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput type="text" placeholder="اسم المستخدم" formControlName="username" id="username">
                    <mat-error
                        *ngIf="formLogin.get('username')?.errors?.['required']&& formLogin.get('username')?.touched">
                        يرجى إدخال اسم المستخدم
                    </mat-error>
                </mat-form-field>
            </div>
            <label for="key">رمز الدخول</label>

            <div class="input-container" style="border: none;">
                <mat-form-field appearance="fill" class="mat-form-field-custom" style="border: none;">
                    <mat-icon matPrefix style="border: none;">key</mat-icon>
                    <input matInput type="text" placeholder="رمز الدخول" formControlName="password" id="key"
                        class="inputF" style="border: none;">
                    <mat-error
                        *ngIf="formLogin.get('password')?.errors?.['required']&& formLogin.get('password')?.touched">
                        يرجى إدخال رمز الدخول
                    </mat-error>
                    <mat-error
                        *ngIf="formLogin.get('password')?.errors?.['minLength']&& formLogin.get('password')?.touched">
                        يرجى إدخال 6 أرقام
                    </mat-error>
                </mat-form-field>
            </div>
            <br>
            <div>
                <button type="submit">
                    تسجيل الدخول
                </button>
            </div><br>
            <div class="question">
                <span>ليس لديك حساب؟</span>
                <a routerLink="/register">انشئ حساب</a>
            </div>
        </form>
        <br>
        <a routerLink="/home">المتايعة كزائر</a>
    </div>

    <div class="imgDiv">
        <img src="../../../../assets/Login.svg">
    </div>



</div>