<div class="loader_container" *ngIf="isFetching">
    <div class="loader"></div>
</div>
<div class="isFetching" *ngIf="!isFetching">
    <app-header></app-header>
    <div class="container">
        <div class="back d-flex ">
            <div class="iconDiv">
                <a routerLink="specializationSelection"><img src="../../../assets/ic_arrow_back.svg" alt=""></a>


            </div>

            <h4>العودة</h4>
        </div>
        <div class="container2">
            <h1>اختبار الشبكات</h1>
            <div class="question d-flex">
                <div class="number d-flex">
                    <h3>50</h3>

                    <h3> سؤال </h3>

                </div>


                <h3>علامة النجاح 100</h3>
            </div>
            <h1 class="directions">تعليمات هامة</h1>
            <div class="steps">
                <ul>
                    <li>إبدأ الاختبار سوف ينقلك إلى صفحة السؤال</li>
                    <li>للتحقق من صحة إجابتك اضغط على إشارة الصح أسفل السؤال سوف تظهر لك الإجابة صحيحة أو خاطئة</li>
                    <li>إشارة الكتاب سوف تظهر لك صفحة السؤال</li>
                    <li>كما يمكنك الحصول على النتيجة في آخر الاختبار...بالتوفيق</li>

                </ul>
            </div>
            <div class="start">
                <button (click)="moveToQuizById(1)">ابدأ الاختبار</button>
            </div>
        </div>
    </div>
    <!-- <div class="bottom">
        <app-footer></app-footer>
    </div> -->
</div>