.back {
    gap: 1rem;
}

.container {
    margin-top: 50px;
}

.container .back .iconDiv {
    width: 1rem;
}

.container .back .iconDiv a img {
    width: 100%;
}

.container2 {
    margin: auto;
    width: 80%;
}

.question {
    /* width: 30%; */
    justify-content: space-between;
}

.number {
    gap: 0.2rem;
}

.directions {
    text-align: center;
}

.container2 button {
    text-align: center;
    color: white;
    background-color: #6F2877;
    border-radius: 3px;
    border: none;
    padding: 0.5rem 1rem;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    color: #B989BD;
}

@media (max-width:576px) {
    .question {
        gap: 0.5rem;
    }

    .container2 {
        width: 100%;
    }

    .steps {
        width: 100%;
    }

    ul li,
    button {
        font-size: 0.8rem;
    }
    h1{
        font-size: 1rem;
        font-weight: bold;
    }
    ul{
        width: 100%;
        padding: 10px;
    }
}