<div class="loader_container" *ngIf="isFetching">
    <div class="loader"></div>
</div>
<div class="isFetching" *ngIf="!isFetching">
    <app-header></app-header>
    <div class="container">
        <div class="back">
            <div class="icondiv">
                <a routerLink="specializationSelection"><img src="../../../assets/ic_arrow_back.svg" alt=""></a>
            </div>
            <h4>العودة</h4>
        </div>
        <div class="container2">
            <h1>مبروك لقد أتممت الاختبار بنجاح</h1>
            <div class="result d-flex">
                <h1>علامتك هي</h1>
                <img src="../../../assets/Imagecup.svg">
            </div>
            <div class="hrDiv">
                <hr>
            </div>

            <div class="counter d-flex">
                <h4>عدد الأسئلة الصحيحة</h4>
                <h4>عدد الأسئلة الخاطئة</h4>


            </div>
            <div class="validate">
                <button>التحقق من الإجابات</button>
            </div>


        </div>

    </div>
    <div class="mobile">
        <div class="imgDiv">
            <img src="../../../assets/Imagecup.svg" alt="">

        </div>
        <h1>مبروك لقد أتممت الاختبار بنجاح</h1>
        <h1>علامتك هي</h1>
        <div class="hrDiv">
            <hr>
        </div>
        <div class="counter">
            <h4>عدد الأسئلة الصحيحة</h4>
            <h4>عدد الأسئلة الخاطئة</h4>

        </div>
        <div class="validate">
            <button>التحقق من الإجابات</button>
        </div>

    </div>

    <!-- <app-footer></app-footer> -->
</div>