<div class="isFetching">
    <app-header></app-header>
    <div class="container" *ngFor="let quiz of paginateData();let i=index">
        <h1>{{currentPage}}.</h1>
        <div class="question">{{quiz.quiz.content}}</div>
        <div class="options" *ngFor="let option of quiz.quiz!.answers">
            <div class="answer" [id]="'option'+option.uuid">
                <span>
                    <input disabled="true" [value]="'option'+option.uuid" type="radio"
                        [checked]="colorTheAnswer(option.uuid)">
                </span>
                <span>
                    {{option.content}}
                </span>
            </div>
        </div>

        <div class="last_row">
            <div class="last_row_icons">
                <i class='bx bxs-check-circle check_circle'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-book-bookmark'></i>
            </div>
            <div class="button_row">
                <button *ngIf="currentPage!=1" (click)="previousPage()">السابق</button>
                <button *ngIf="lastPage!=currentPage" (click)="nextPage()">التالي</button>
            </div>

        </div>
    </div>
    <div class="end">
        <button *ngIf="lastPage==currentPage" (click)="moveToEnd()">إنهاء</button>
    </div>
    <!-- <app-footer></app-footer> -->
</div>