<div class="loader_container" *ngIf="isFetching">
    <div class="loader"></div>
</div>
<div class="isFetching" *ngIf="!isFetching">
    <app-header></app-header>
    <div class="zero_length" *ngIf="quizes.length==0">
        لا يوجد أسئلة
    </div>
    <div  class="container" *ngFor="let quiz of paginateData();let i=index">
        <h1>{{currentPage}}.</h1>
        <div class="question">{{quiz.content}}</div>
        <div class="options" *ngFor="let option of quiz!.answers">
            <div class="answer" [id]="'option'+option.uuid">
                <span>
                    <!-- [attr.disabled]="isChecked == true" -->
                    <input [value]="'option'+option.uuid" type="radio" name="option"
                        (click)="addQuizToLocalStorage(quiz.uuid,quiz,option)" [checked]="checkLH(quiz.uuid,option)">
                </span>
                <span>
                    {{option.content}}
                </span>
            </div>
        </div>

        <div class="last_row">
            <div class="last_row_icons">
                <i class='bx bxs-check-circle check_circle' (click)="correctAnswer(quiz)"></i>
                <i class='bx bx-star' [ngClass]="{'yellow':favouritesQuizes!=undefined}"
                    (click)="addToFavourite(quiz.uuid)"></i>
                <i class='bx bx-book-bookmark' (click)="showPopUp()"></i>
            </div>
            <div class="button_row">
                <button *ngIf="currentPage!=1" (click)="previousPage()">السابق</button>
                <button *ngIf="lastPage!=currentPage" (click)="nextPage()">التالي</button>
            </div>

        </div>
    </div>
    <div class="end">
        <button *ngIf="lastPage==currentPage" (click)="moveToQuizEnd()">إنهاء الاختبار</button>
    </div>
    <!-- <app-footer></app-footer> -->
</div>