<div class="container">
    <h1>1.</h1>
    <div class="question">vjkbvbfd ?</div>
    <div class="answer">,ls;dfkbnlfdbnldfknblfdbd,</div>
    <div class="answer">,ls;d,</div>
    <div class="answer">,lsfbkldfnblfdknb;d,</div>
    <div class="answer">,ls;d,</div>
    <div class="last_row">
        <div class="last_row_icons">
            <i class='bx bx-check-circle'></i>
            <i class='bx bx-star'></i>
            <i class='bx bx-book-bookmark'></i>
        </div>
        <button>التالي</button>
    </div>
</div>