.container {
    margin-top: 50px;
}

.back {
    display: flex;
    gap: 1rem;
}

.container .back .icondiv {
    width: 1rem;
}

.container .back .icondiv a img {
    width: 100%;
}

.container .container2 {
    width: 100%;
    margin: auto;
}

.container .container2 .question {
    justify-content: space-between;
    background-color: var(--light-purple-color);
    padding: 00.5rem;
    border-radius: 3px;
    margin-bottom: 30px;
    cursor: pointer;
}



.container .container2 .question .ref {
    gap: 0.5rem;
}

.container .container2 .question span {
    font-size: 1rem;
}

@media (max-width:576px) {
    .back {
        display: none;
    }

    .container .container2 .question {
        width: 90%;
    }

    .container .container2 .question span {
        font-size: 0.8rem;
    }
}

.blue {
    background-color: var(--light-blue-color) !important;
}