.wave-background {
    height: 250px;
    /* background-color: red; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /* padding-bottom: 3rem; */
    margin-top: 1rem;
}

.wave-background svg {
    position: absolute;
    z-index: -1;
    bottom: 0;    
}
.box .footer_row:first-child{
    padding-bottom: 0.5rem;
}
@media (max-width:800px) {
    .wave-background {
    align-items: flex-end;
    /* padding-bottom: 8px; */
    }
    .box .footer_row span,
    .box .footer_row p{
    font-size: 0.7rem;
   }

   .box .footer_row .icons a {
    width: 15px;
    height: 15px;
   }

   .box .footer_row .icons a img {
    width: 100%;
    height: 100%;
    }

} 

.box span,p{
    font-size: 0.9rem;
}

.box .icons a {
    width: 25px;
    height: 25px;
}

.box .icons a img {
    width: 100%;
    height: 100%;
}
.logo{
    padding-top: 9rem;
    width: 130px;
    height: 200px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.footer_row {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    /* margin: 10px 0; */
}

.wave-background .box .icons {
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: initial;
}
.mobileIcons {
    width: 100%;
    background-color: white;
    display: none;
}

@media (max-width:576px) {
    .mobileIcons {
        display: block;
        bottom: 0;
        top: 100vh;
        height: inherit;
        width: 100%;
        padding: 49px 0px 5px;
    }
    .mobileIcons ul li{
        cursor: pointer;
    }

    .wave-background {
        display: none;
    }

    .content {
        display: none;
    }

    .box .icons a {
        width: 10px;
        height: 10px;
    }

    .box .icons a img {
        width: 100%;
        height: 100%;  
    }
}

.mobileIcons ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}
@media (max-width:800px){
    svg{
        bottom: 1rem;
    }

}