<div id="carouselExampleIndicators" class="carousel slide left_column">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
            class="active custom_indicator" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="custom_indicator"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="custom_indicator"
            aria-label="Slide 3"></button>
        <!-- <button *ngFor="let advert of adverts;index as i" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2" class="custom_indicator" aria-label="Slide 3"></button> -->
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/Login.svg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/signup.svg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/Login.svg" class="d-block w-100" alt="...">
        </div>
        <!-- <div *ngFor="let advert of adverts" class="carousel-item">
            <img src="{{advert.image}}" class="d-block w-100" alt="...">
        </div> -->
    </div>
</div>