<div *ngIf="adverts.length > 0" id="carouselExampleIndicators" class="carousel slide left_column">
    <div class="carousel-indicators">
        <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
            class="active custom_indicator" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="custom_indicator"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="custom_indicator"
            aria-label="Slide 3"></button> -->
        <button  *ngFor="let advert of adverts;let i=index" type="button" data-bs-target="#carouselExampleIndicators"
            class="custom_indicator buttons" [id]="'button'+i" (click)="paginate(i)">
        </button>

    </div>
    <div class="carousel-inner">
        <!-- <div class="carousel-item image_container active">
            <img src="../../../../assets/Login.svg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item image_container">
            <img src="../../../../assets/signup.svg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item image_container">
            <img src="../../../../assets/Login.svg" class="d-block w-100" alt="...">
        </div> -->
        <div [id]="'image'+i" [ngClass]="{'active': i == 0 }" *ngFor="let advert of adverts;let i=index"
            class="carousel-item image_container">
            <img [src]="advert.image_url" class="d-block w-100" alt="...">
        </div>
    </div>
</div>