<div class="loader" *ngIf="isFetching"></div>
<div class="isFetching" *ngIf="!isFetching">
    <app-header></app-header>
    <div class="container">
        <div class="right_column">
            <div class="data">
                <h1>
                    طريقك الأسهل لإجتياز الفحص الوطني الموحد
                </h1>
                <span class="description">
                    أصبح بإمكانك الحصول على اسئلة الامتحان الوطني بكل سهولة
                    من مكان واحد فقط “اطلع - اختبر - احصل على النتيجة
                </span>
            </div>
            <button>
                ابدأ الأن
            </button>
        </div>
        <app-carousel [adverts]="getTotalAdverts()"></app-carousel>
    </div>
    <div class="second_section_holder">
        <div class="main_title">الإختصاصات</div>
        <div class="second_section">
            <!-- <div *ngFor="let i of [0,1,2,3,5,8,9]" class="second_section_container">
            <div class="image_container" (click)="moveToSpecilazation()">
                <img src="../../../../assets/Login.svg" class="w-100 h-100" alt="...">
            </div>
            <h3>التمريض</h3>
        </div> -->
            <div *ngFor="let specialization of specializations" class="second_section_container">
                <div class="image_container">
                    <img src="{{url+specialization.image}}" class="w-100 h-100" alt="عذرا حدث خطأ ما">
                </div>
                <h3>{{specialization.specialization_name}}</h3>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>