<div class="container">
    <div class="right_column">
        <h1>
            طريقك الأسهل لإجتياز الفحص الوطني الموحد
        </h1>
        <span class="description">
            أصبح بإمكانك الحصول على اسئلة الامتحان الوطني بكل سهولة
            من مكان واحد فقط “اطلع - اختبر - احصل على النتيجة
        </span>
        <button class="btn btn-success">
            ابدأ الأن
        </button>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <input type="radio">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/Login.svg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/signup.svg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/Login.svg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

</div>