.profile {
    width: 60%;
    height: 95%;
    border: 3px dashed #6F2877;
    margin: 12px auto;

}

.profile h2 {
    text-align: center;
    padding-top: 10px;
}

.avatar {
    text-align: center;
}
.avatar span{
    /* position: absolute; */
    /* left: 0;
    bottom: 0; */
    font-size: 2rem;
}
.avatar img{
width: 50px;
height: 50px
}

.username,
.phonenumber {
    width: 80%;
}

.container-input {
    position: relative;
    width: 100%;
}

.container-input input {
    width: 100%;
    padding: 1rem;
    background-color: #B9E5FB;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding-right: 3rem;
}

.container-input .icon1,
.container-input .icon2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    padding: 1rem;
}

.container-input .icon1 {
    right: 0;
}

.container-input .icon2 {
    left: 0;
}

label {
    font-size: 1rem;
    padding-bottom: 10px;
}

.fields {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.fields button {
    width: 80%;
    background-color: #6F2877;
    border-radius: 5px;
    text-align: center;
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.fields a {
    color: #6F2877;
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
}


small {
    color: red;
}


@media (max-width: 900px) {

a {
    cursor: pointer;
}
}
@media (max-width: 576px) {

    .profile {
        width: 80%;
    }
    .profile h2{
        font-size: 14px;
    }
}
 .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
    }

    .close-icon {
      color: black;
    }