<div class="profile">
    <h2>تعديل المعلومات الشخصية</h2>
    <div class="avatar">
        <img src="../../../../assets/avatar.jpg" alt="">
        <h3>اسم المستخدم</h3>
    </div>

    <form [formGroup]="personalInfoForm" (ngSubmit)="saveChanges()" class="fields">
        <div class="username">
            <label for="username">اسم المستخدم:</label>
            <div class="container-input">
                <input type="text" id="username" formControlName="username" placeholder="اسم المستخدم">
                <img src="../../../../assets/ic_text_field_user.svg" class="icon1" alt="">
                <img src="../../../../assets/ic_edit.svg" class="icon2" alt="">
            </div>
        </div>
        <div class="phonenumber">
            <label for="mobileNumber">رقم الموبايل:</label>
            <div class="container-input">
                <input type="text" id="mobileNumber" formControlName="mobileNumber" placeholder="رقم الموبايل">
                <img src="../../../../assets/ic_text_field_phone.svg" class="icon1" alt="">
                <img src="../../../../assets/ic_edit.svg" class="icon2" alt="">
            </div>
        </div>

        <button type="submit" [disabled]="personalInfoForm.invalid">
            حفظ التغييرات </button>
        <a routerLink="/home">إلغاء</a>
    </form>
</div>