<div class="loader_container" *ngIf="isFetching">
    <div class="loader"></div>
</div>
<div  *ngIf="!isFetching">
    <app-header></app-header>
    <div class="container">
        <app-carousel [adverts]="getTotalAdverts()"></app-carousel>
    </div>
    <div class="button_row">
        <button (click)="moveToDwrat()">الدورات</button>
        <button (click)="moveToQuizStart()">بنك الأسئلة</button>
    </div>
    <div class="second_section_holder">
        <div class="main_title">التصنيفات</div>
        <div class="zero_length" *ngIf="Classifications.length==0">
            لا يوجد تصنيفات
        </div>
        <!-- <ng-container class="second_section">
        <button *ngFor="let Classification of [1,9,8,7,6];let i=index" class="second_section_container"
            (click)="showPopUp(Classification)">
            <h1>{{Classification}}</h1>
        </button>
    </ng-container> -->
        <div class="second_section" *ngIf="Classifications.length>=0">
            <button *ngFor="let Classification of Classifications;let i=index" class="second_section_container"
                (click)="showPopUp(Classification.uuid)">
                <h1>{{Classification.name}}</h1>
            </button>
        </div>
    </div>
    <app-footer></app-footer>
</div>