.container {
    width: 60%;
    margin: 50px auto;
}

.main_title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: auto;
    position: relative;
    text-align: center;
}

.button_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.button_row button {
    border-radius: 3px;
    border: none;
    padding: 15px 30px;
    color: var(--white-color);
}

.button_row button:first-child {
    background-color: var(--dark-purple-color);
}

.button_row button:last-child {
    background-color: var(--dark-blue-color);
}

.second_section_holder {
    background-color: var(--section-background);
    padding-top: 50px;
}

.second_section {
    background-color: var(--section-background);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 100px 100px;
    gap: 50px;
}

.second_section_container {
    padding-top: 8px;
    background-color: white;
    border: 2px var(--dark-purple-color) solid;
    border-radius: 5px;
    text-align: center;
}

.second_section_container H3 {
    font-size: 1rem;
    font-weight: bold;
}

.zero_length {
    /* height: 200px; */
    margin: auto 50px;
}

@media (max-width: 767px) {
    .container {
        height: 60vh;
        width: 100%;
        margin: 50px auto;
    }

    .second_section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 576px) {
    .container {
        height: 45vh !important;
        margin-top: 0px;
    }

    .second_section_holder {
        padding-top: 0px;
    }

    .second_section {
        padding: 20px;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .second_section_container h1,
    .button_row button {
        font-size: 0.8rem;
    }
    .button_row button {
        margin: 0;
        padding: 5px 10px;
    }
    .main_title {
        font-size: 1rem;
        margin: auto;
        text-align: center;
        margin-top: 0px;
    }

    .second_section button,
    .button_row button {
        font-size: 12px;
    }

    .button_row button {
        margin: 0px;
    }
}

@media (max-width: 486px) {
    .container {
        height: 50vh;
    }
}

@media (max-width: 340px) {
    .container {
        height: 40vh;
    }
}

@media (max-width: 240px) {
    .container {
        height: 30vh;
    }
}

@media (max-width: 1000px) {
    .container {
        height: 60vh;
    }
}