/* You can add global styles to this file, and also import other style files */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --dark-purple-color: #6F2877;
  --medieum-purple-color: #923F98;
  --light-purple-color: #B989BD;
  --dark-blue-color: #20C4F4;
  --light-blue-color: #B9E5FB;
  --gray-color: #464547;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}


@font-face {
  font-family: 'Alexandria-Blcak';
  src: url('../src/fonts/Alexandria-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Alexandria-Medium';
  src: url('../src/fonts/Alexandria-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Alexandria-Regular';
  src: url('../src/fonts/Alexandria-Regular.ttf') format('truetype');
}

* {
  font-family: 'Alexandria-Regular', sans-serif;
}

.loader_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {

  /* margin: 50px auto; */

  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8px solid var(--dark-purple-color);
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}